BinaryTree/BinaryTree.Droid/bin/
BinaryTree/BinaryTree.Droid/obj/
BinaryTree/BinaryTree/bin/
BinaryTree/BinaryTree/obj/
.vs/
BinaryTree/BinaryTree.Windows/bin/Debug/
BinaryTree/BinaryTree.WinPhone/obj/Debug/
